/* General styling */
body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  background: #EDEDED;
  text-align: center;
  margin: 0;
}

a:visited {
  color: #0000EE;
}

input {
  width: 100px;
}

input[type=text], select {
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input[type=text]:focus, select:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

input[type=button], input[type=submit] {
  color: #ffffff;
  background-color: #20315e;
  border-color: #357ebd;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 5px 11px;
  font-size: 13px;
  line-height: 1.2;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover, input[type=button]:focus,
input[type=submit]:hover, input[type=submit]:focus {
  background-color: #3071a9;
  border-color: #285e8e;
}

select {
  padding: 3px 0;
}

label {
  line-height: 20px;
}


/* Popup window styling */
.popup {
  width: 120px;
  margin: 8px;
}

input#current {
  margin-bottom: 5px;
}


/* Page stlying */
ul {
  margin-top: 0;
  display: inline-block;
}

li {
  text-align: left;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  position: fixed;
  bottom: 0;
  line-height: 50px;
  font-size: 12px;
}

.page {
  font-size: 14px;
}

.h1:before {
  content: url("../images/icon32.png");
  padding-right: 8px;
}

.info {
  color: #FF0000;
  font-weight: bold;
  padding-top: 5px;
  margin-top: 20px;
  vertical-align: -webkit-baseline-middle;
}


/* Options styling */
#save {
  display: inline-block;
  margin: 20px auto 0;
}

#jira-url {
  width: 400px;
  display: block;
  margin: 0 auto;
}

#default-option {
  display: block;
  margin: 0 auto;
}

#status {
  display: inline-block;
}

.active {
  padding-left: 5px;
}

.red {
  color: #FF0000;
}


/* Changelog styling */
.spacer {
  margin-bottom: 50px;
}

.changelog-box {
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

.current-release {
  padding-left: 10px;
}
