body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  background: #EDEDED;
  text-align: center;
}

input {
  width: 100px;
}

input[type=text] {
  border-radius: 2px;
}

input[type=button], input[type=submit] {
  font-weight: bold;
}

label {
  line-height: 20px;
}

.h1:before {
  content: url("../images/icon32.png");
  padding-right: 8px;
}

#save {
  display: inline-block;
  margin: 20px auto 0;
}

#jira-url {
  width: 400px;
  display: block;
  margin: 0 auto;
}

#default-option {
  display: block;
  margin: 0 auto;
}

#status {
  display: inline-block;
  padding-left: 5px;
  color: #FF0000;
  font-weight: bold;
}
