/* General styling */
body {
  background: #ededed;
  font-size: 13px;
  margin: 0;
}

input {
  width: 100px;
}

input[type=text]:invalid {
  border: 1px solid #ff0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255,0, 0, .6);
}

input[type=button] {
  min-width: 100px;
  width: auto;
}

input[type=text], select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

input[type=text]:focus, select:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

input[type=button], input[type=submit] {
  background-color: #20315e;
  border-color: #357ebd;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.2;
  padding: 5px 11px;
  text-align: center;
  vertical-align: middle;
}

input[type=button]:hover, input[type=button]:focus,
input[type=submit]:hover, input[type=submit]:focus {
  background-color: #3071a9;
  border-color: #285e8e;
}

label {
  line-height: 25px;
}

.red {
  color: #ff0000;
}

/* Popup window styling */
.quiji-popup {
  margin: 8px;
  text-align: center;
  width: 120px;
}

.quiji-buttons input {
  margin-bottom: 5px;
}

.quiji-ticket-id {
  padding: 3px 0 3px 5px;
}

/* Page stlying */
ul {
  display: inline-block;
  margin-top: 0;
}

li {
  text-align: left;
}

.quiji-footer {
  background-color: #fff;
  padding: 10px 20px;
  white-space: nowrap;
}

.quiji-page {
  font-size: 14px;
  margin: 14px 17px; /* Chrome default */
}

/* Options styling */
/* override Chrome styles */
:enabled:hover:-webkit-any(input[type="checkbox"],input[type="radio"],:-webkit-any(button,input[type="button"],input[type="submit"])) {
  background-image: none;
  border-color: #285e8e;
  box-shadow: none;
  color: #fff;
}

input[type=text].quiji-options-jira-url {
  padding-left: 6px;
  width: 100%;
}

.quiji-options-status {
  display: inline;
  font-weight: bold;
  padding-left: 5px;
  vertical-align: bottom;
}

.quiji-options-url-text {
  margin-bottom: 0;
}

/* Override Chrome styles */
.quiji-options-save {
  background-image: none;
  box-shadow: none;
  display: inline-block;
  margin: 20px auto 0;
  text-shadow: none;
}

.quiji-url {
  white-space: nowrap;
}

/* Changelog styling */
.quiji-current-release {
  padding-left: 10px;
}

/* Donation styling */
.quiji-donation-chain {
  white-space: nowrap;
}

.quiji-donation-options {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.quiji-donation-paypal {
  margin-right: 20px;
}

.quiji-donation-bitcoin {
  margin-left: 20px;
}

.quiji-donation-bitcoin-logo {
  display: block;
  margin: 0 auto;
}
