/* Global Reset and Styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  color: var(--text-color);
  line-height: 1.6;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

footer a {
  color: var(--primary-color);
  margin: 0 4px;
}

a:hover {
  color: var(--primary-hover-color);
}

input,
select,
button {
  font-family: var(--font-family);
}

label {
  font-size: 1rem;
}

/* List Styling */
ul {
  padding-bottom: var(--spacing);
}

li {
  margin-bottom: 8px;
}

/* Layout and Structure */
main {
  padding: var(--spacing);
  max-width: 800px;
  margin: auto;
}

footer {
  background-color: var(--background-color);
  border-top: 1px solid var(--border-color);
  text-align: center;
  padding: var(--spacing);
  font-size: 0.9rem;
  color: var(--secondary-text-color);
}

footer a:hover {
  text-decoration: underline;
}

header {
  text-align: center;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 8px;
}

hr {
  border: none;
  height: 2px;
  background-color: var(--border-color);
  margin: 16px 0;
}

/* Form Styles */
form {
  background-color: var(--form-background);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 2px 8px var(--shadow-color);
  padding: 0 var(--spacing);
  margin-bottom: var(--spacing);
}

form h2,
form p {
  margin: 10px 0;
}

form p {
  font-size: 1rem;
  color: var(--secondary-text-color);
}

input[type='text'],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: var(--spacing);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 1rem;
  background-color: var(--input-background);
  color: var(--text-color);
  box-shadow: inset 0 1px 2px var(--shadow-color);
}

/* Limit Width for Specific Inputs */
input[type='text'].quiji-options-jira-url {
  max-width: 600px;
}

select {
  max-width: 250px;
}

/* Trim Spaces - Checkbox */
div {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing);
}

input[type='checkbox'] {
  margin-right: 8px;
  transform: scale(1.2);
  accent-color: var(--primary-color);
}

/* Shortcuts Styles */
.quiji-shortcuts li {
  font-size: 1rem;
  margin-bottom: 8px;
}

h3.quiji-shortcuts-title {
  font-size: 1.2rem;
  margin-bottom: 16px;
}

/* Save Button */
.quiji-options-save {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  display: inline-block;
  margin-top: var(--spacing);
  transition: all 0.3s ease;
  opacity: 1;
  transform: scale(1);
}

.quiji-url-highlight {
  color: var(--url-highlight);
  font-weight: bold;
  text-decoration: underline;
}

/* Button Container and Checkmark */
.button-container {
  position: relative;
  height: 40px;
  width: 100%;
}

.quiji-options-save,
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.3s ease;
}

.quiji-options-save.hidden {
  opacity: 0;
  transform: scale(0.5);
}

.quiji-options-save:hover {
  background-color: var(--primary-hover-color);
}

.checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 24px;
  opacity: 0;
  transform: scale(0.5);
}

.checkmark.visible {
  opacity: 1;
  transform: scale(1);
}
