name: Security

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1

      - uses: actions/setup-node@v6.1.0
        with:
          node-version-file: '.node-version'

      - run: npm audit
